__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
venv/
env/
.venv
.env
.git
.gitignore
*.md
.pytest_cache
.coverage
htmlcov/
.vscode/
.idea/
*.log
*.sqlite
*.db
src/data/uploads/*
!src/data/uploads/.gitkeep
src/data/processed/*
!src/data/processed/.gitkeep
src/data/plots/*
!src/data/plots/.gitkeep

